*.pyc
*.log
node_modules
coverage/
arches_provenance/logs
arches_provenance/export_deliverables
arches_provenance/cantaloupe/*
arches_provenance/staticfiles
arches_provenance/media/packages
arches_provenance/media/build/
arches_provenance/uploadedfiles/*
arches_provenance/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
