#mainnav-container{
    background-color: green;
}
#mainnav{
    background-color: green;
}
.machine-banner{
    color: green; 
    text-align: center; 
    width: 100%; 
    height: 30px; 
    font-size:20px; 
    font-weight: 700; 
    z-index:10000;
}

div.rp-report-tile dl a[href] {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.summary-table-container {
    padding-top: 5px;
}

.summary-table-container {
    overflow-x: auto;
    /* max-width: 1000px;
    min-width: 600px; */
    width: 70vw;
    margin: auto;
}

.summary-table-top-header {
    overflow-x: auto;
    width: 100%;
    border-collapse: unset;
    border: solid 1px lightgray;
}

.summary-table-top-header>tbody>tr>th {
    font-weight: 600;
    background-color: #efefef;
    vertical-align: middle;
    padding: 8px;
}

.statment-table th {
    width: 30%;
}

.summary-table-top-header th a {
    color: blue
}

.summary-table-left-header {
    overflow-x: auto;
    text-align: left;
    width: 100%;
    border-collapse: unset;
    border: solid 1px lightgray;
}

.summary-table-left-header td:first-child{
    text-align: right;
    font-weight: 600;
    background-color: #efefef;
    width: 150px;
}

.summary-table-left-header td a {
    color: blue
}

.edit-button-cell {
    width: 50px;
  }

td {
    border: solid 1px #ececec;
    text-overflow: ellipsis;
}

.summary-table-standard {
    border: solid 1px lightgray;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-table-standard th {
    background-color: #efefef;
    text-align: left;
}

.table-label {
    font-weight: 600;
    padding-bottom: 4px;
    font-size: 18px;
}

.ocr {
    display: flex;
    padding: 10px;
    border: solid 1px #ececec;
    flex-wrap: wrap;
    align-content: space-around;
    min-height: 35px;
    margin-bottom: 20px;
}

.ocr div{
    background-color: #f9f9f9;
    margin: 5px;
    padding: 15px;
    border: solid 1px #ececec;
}


.dataTable th, .dataTable td {
    max-width: 200px;
    /* min-width: 70px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.anchor::before { 
    display: block; 
    content: " "; 
    margin-top: -55px; 
    height: 55px; 
    visibility: hidden; 
    pointer-events: none;
}

.provenance-tile-editor {
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 50px;
}

.provenance-tile-editor-content {
    background-color: #fefefe;
    margin: 3% 20%;
    border: 1px solid #888;
    width: 75%;
    padding: 24px;
}

.provenance-tile-editor-content .loading-mask {
    background-color: rgba(192,192,192, 0.6);
}

.hovered {
    cursor: pointer;
    border: 1px solid blue;
    background-color: #eeeeee;
}

.report-add-tile-text {
    cursor: pointer;
    color: steelblue;
    padding-left: 10px;
}

.save-content {
    display: none;
}

.save-toggle>.h4 {
    display: inline-block;
}

.interpreting-related-toggle>.h4 {
    display: inline-block;
}

.related-content-toggle>.h4 {
    display: inline-block;
}

.related-toggle>.h4 {
    display: inline-block;
}

.advanced-content-toggle>.h4 {
    display: inline-block;
}

.advanced-content {
    display: none;
}

.related-content {
    display: none;
}

.interpreting-related-content {
    display: none;
}

.time-toggle>.h4 {
    display: inline-block;
}

.time-content {
    display: none;
}

.report-toggle>.h4 {
    display: inline-block;
}

.report-content {
    display: none;
}

.models-toggle>.h4 {
    display: inline-block;
}

.models-content {
    display: none;
}

